<div id="footer">
  &copy; 2015 - 
  <a href="https://github.com/albowen/HomeSplash" target="_blank">
  <%= fa_icon "github-alt", text: "Open Sourced Here" %>
  </a>
  <a href="https://twitter.com/AshleyBowen6" target="_blank">
  <%= fa_stacked_icon "twitter", base: "square-o", text: "Follow Me" %>
  </a>
  <a href="https://www.facebook.com/ashley.bowen.71" target="_blank">
  <%= fa_icon "facebook-square", text: "Like Me" %>
  </a>
</div>

