// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
text-align: center;
top: 20%;
width: 100%;
position: absolute;
}

#clock {
  font-family: impact;
  font-size: -4em;
}

#quote {
  bottom: 5em;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.99em;

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}